.block {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 8px solid #000;
  &-header {
    text-align: center;
  }
  &-main {
    padding: 1rem;
    margin: 0 10%;
    min-height: 60vh;
    &_icons {
      height: 1em;
      position: relative;
      top: -2px;
      left: -5px;
    }
  }
  &-footer {
    background-color: #000;
    height: 5vh;
    padding: 0 10vw;
    margin-top: auto;
    margin-bottom: 0;
    small {
      font-size: 12px;
      color: #fff;
      &::before {
        content: "\00a9";
        font-size: 1.8em;
        position: relative;
        top: 4px;
        padding-right: .1em;
      }
    }
  }
}
