.header {
  &_title {
    font-family: "Cabin Sketch", cursive;
    font-size: 58px;
    margin: 0 0 0 0;
  }
  &_sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 36px;
    &_icons {
      /** エリアの1/2で折り返す */
      flex-basis: 50%;
      padding-left: 8px;
      padding-right: 8px;
      a {
        text-decoration: none;
      }
      img {
        width: 1em;
        height: 1em;
      }
      &_material-icons {
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 1.1em;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1;
        text-transform: none;
        position: relative;
        top: 9px;

        /* WebKitブラウザサポート */
        -webkit-font-smoothing: antialiased;
        /* Chrome、Safariサポート */
        text-rendering: optimizeLegibility;
        /* Firefoxサポート */
        -moz-osx-font-smoothing: grayscale;
        /* IEサポート */
        font-feature-settings: "liga";
      }
    }
  }
}
